{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Authentication</title>
{% endblock meta %}

{% block content %}
<script>
    $(document).ready(function(){
        var temp = "{% url 'Authentication:login-user' 1 %}"
        temp.replace('1', '{{status}}')
        $('#button').click(function(){
            $.ajax({
                url: temp,
                type: 'POST',
                data: {
                    'email': $('#id_email').val(),
                    'password': $('#id_password').val()
                },
                success: function(data){
                    alert(data);
                }
            });
        });
    });
</script>

<table>
    <tr>{{auth.as_table}}</tr>
</table>
<button type = 'button' id = 'submit_button'>Submit</button>
{% endblock content %}