{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Authentication</title>
{% load static %}
<link rel="stylesheet" href="{% static "/authentication/css/login-style.css" %}">

{% endblock meta %}

{% block content %}
<script>
    $(document).ready(function(){
        var temp2 = '{{status}}'
        var temp = "{% url 'Authentication:login-user' 1 %}".replace('1', temp2)
        $('#submit_button').click(function(e){
            if($('#id_email').val().length !== 0 && $('#id_password').val().length !== 0){
                $.ajax({
                    url: temp,
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken':'{{ csrf_token }}',
                        'email': $('#id_email').val(),
                        'password': $('#id_password').val()
                    },
                    success: function(data){
                        if (data !== 'User Not Registered'){
							get_data();
                        }
						else{
							alert(data);
						}
                    }
                });
            }
            else{
                alert('Email atau password tidak boleh kosong');
            }
        });
    });

	function get_data(){
		$.ajax({
			url: "{% url 'Authentication:json' %}",
			type: "GET",
			dataType: "json",
			success: function(data){
				if (data.gender === "LK"){
					alert('hello world');
					$('#card_image').attr('src', "{% static '/authentication/img/man.jpg' %}");
				}
				else{
					$('#card_image').attr('src', "{% static '/authentication/img/woman.jpg' %}");
				}
			}
		});
	}
</script>

<div class = 'd-flex flex-column min-vh-100 justify-content-center align-items-center' id = 'main_container'> 
    <div class="card mb-3 shadow-lg" style="max-width: 700px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static '/authentication/img/irama_kain.png' %}" class="img-fluid rounded-start" id = 'card_image'>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Login</h5>
              <form id = 'form-login'>
                <div class="mb-3">
                  <label for="id_email" class="form-label">Email address</label>
                  {{auth.email}}
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="id_password" class="form-label">Password</label>
                  {{auth.password}}
                </div>
                <button type="button" class="btn btn-primary" id = 'submit_button'>Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock content %}