<!DOCTYPE html>

{% load static %}

<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Irama Kain | Home </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    
    

    <style>
    body {
        background-color: #F3F3F3;
    }
    .donationhistory    {
    display: block;
    }

    p, a {
        font-family: 'Helvetica';
        font-style: normal;
        letter-spacing: 0.05em;
        color: #3C3C3C;
    }

    h4, h5, h6 {
        font-family: 'Stratford';
        font-style: normal;
        letter-spacing: 0.05em;
        color: #7335C2;
    }

    h1 , h2, h3 {
        font-family: 'Stratford';
        font-style: normal;
        letter-spacing: 0.05em;
        color: #AAC38A;
    }

    .nav-link  {
        font-family: 'Helvetica';
        font-style: normal;
        font-size: 14px;
        letter-spacing: 0.08em;
        margin-bottom: 8px;
        /* iramakain/color 1 */
        color: #3C3C3C;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .navbar-brand   {
    font-family: 'Stratford';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    margin-left: 15px;
    /* iramakain/color 3 */
    color: #7335C2;

    }
    .nav-item   {
        margin-left: 20px;
    }
    .nav-link:hover::after {
        width: 100%;
        top: 0;
    }
    .nav-link:after {
        content: "";
        position: absolute;
        display: block;
        border: 2px solid #7335C2;
        width: 100%;
        height: 0%;
        transition: all 0.5s ease;
        top: 100%;
    }
    .navbar {
        position: sticky;
        top: 0px;
        width: 100%;
        z-index: 100;
        background: #F3F3F3;
        background: linear-gradient(0deg, transparent 0%, #AAC38A 70%);;
    }
    
    .carousel-item img {
        width:100%;
        height:500px;
    }

    .btn, .btn-primary {
        background-color: #AAC38A; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .btn:hover {
    background-color: #AAC38A; /* Green */
    color: #AAC38A;
    }

    .cards {
        display:inline-block;
        transition: transform .4s ease;
    }
    .cards:hover {
        transform: scale(1.1);
        box-shadow: 0 20px 50px #cfcfcf;
    }

    </style>

    <main>
        
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'Home:show_home' %}">Irama Kain</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'donation:show-donation' %} ">Donations</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'marketplace:show_marketplace' %} ">Shop</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq:index' %}" >F.A.Q</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href='{% url "partnership:show_partnership"  %}' >Contact Us</a>
                  </li>
                  <li class="nav-item" id="linkprofile">
                    <a class="nav-link" href="{% url 'profilePage:lihatProfile' %}">Profile</a>
                  </li>
                </ul>
                <div class="d-flex">
                    <a class="nav-link" href="#" style="margin-right: 20px">
                        <img class="me-2 p-2 nav-item" src="../static/donation/img/cart.png" style="width: 40px; height:40px; ">
                    </a>
                    <div  class="containers col p-2" style="padding-top: 12px; margin-left: 10px; margin-right: 30px;">
                        <img src="../static/profile/img/Coins.png" style="display: inline; width: 25px; height: 25px; margin-bottom: 10px">
                        <p id="linkpoin" class="nav-link" style="display: inline; font-size: 16px;">{{poin}}</p>
                    </div>
                    <a class="p-2 nav-link" id="linksignout" href="{% url 'Authentication:logout-user' %}">Sign Out</a>
                </div>
              </div>
            </div>
        </nav>
        <div class = "container-fluid mb-5">
            <div class = "section-banner">
                <div class = "d-flex flex-row justify-content-center">
                    <div id = "carousel" class = "carousel slide" data-bs-ride="carousel">
                        <div class = "carousel-indicators">
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"></button>
                        </div>
                        <div class = "card">
                            <div class = "carousel-inner">
                                <div class = "carousel-item active">
                                    <img src = "../../static/carousel3.png" alt = "Banner 1" class = "d-block">
                                </div>
                                <div class = "carousel-item">
                                    <img src = "../../static/carousel1.png" alt = "Banner 2" class = "d-block">

                                </div>
                                <div class = "carousel-item">
                                    <img src = "../../static/carousel2.png" alt = "Banner 3" class = "d-block">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "container pt-5" style = "margin-bottom: 60px;">
                <div class = "row">
                    <div class = "col-md-6 text-center">
                        <img class = "img-fluid mb-3" src = "../../static/iramakain.png" alt="" style="width:100%;height:auto;">
                    </div>
                    <div class = "col-md-6" style = "align-self: center;">
                        <h3> #DariKamuUntukMereka </h3>
                        <p> The growing fashion industry is a major source of environmental pollution due to the fashion waste it generates. In fact, the global textile industry contributes to climate change by emitting 1.2 billion tons of carbon dioxide annually through its burning process. The phenomena moved us to create a platform that accepts all kinds of fashion waste, Irama Kain.  </p>
                    </div>
                </div>
            </div>
            <div class = "section-artikel">
                <div class = "container">
                        <div ALIGN = center>
                            <h2> Fashion Articles </h2>
                            <hr class = "solid my-3">
                        </div>
                        <div class = "d-flex justify-content-between">
                                <div class = "card card-artikel m-3 cards" style="height: auto; width: 300px;" >
                                    <img class = "card-img-top" style = "height: 150px; width: 100%" src = "../../static/thumbnail3.png" alt="Card image cap">
                                    <div class="card-body p-4 z-index-1" style="display: flex; flex-direction: column">
                                        <p> CXO Media </p>
                                    </div>
                                    <div class="card-body p-0 mb-3" style="flex-grow: 1">
                                        <h5 style = "margin-left: 20px"> Rework Thrift: A New Trend</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3" ALIGN = center>
                                            <a href="https://www.cxomedia.id/fashion/20220511150905-12-174824/rework-thrift-a-new-trend" class="btn btn-block" style="font-size:14px ; font-family: 'Stratford';">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card card-artikel m-3 cards" style="height: auto; width: 300px;" >
                                    <img class = "card-img-top" style = "height: 150px; width: 100%" src = "../../static/thumbnail2.png" alt="Card image cap">
                                    <div class="card-body p-4 z-index-1" style="display: flex; flex-direction: column">
                                        <p> Vogue </p>
                                    </div>
                                    <div class="card-body p-0 mb-3" style="flex-grow: 1">
                                        <h5 style = "margin-left: 20px"> Upcycling Is The Biggest Trend In Fashion Right Now </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3" ALIGN = center>
                                            <a href="https://www.vogue.co.uk/fashion/article/upcycling-trend-ss21" class="btn btn-block" style="font-size:14px ; font-family: 'Stratford';">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class = "card card-artikel m-3 cards" style="height: auto; width: 300px;" >
                                    <img class = "card-img-top" style = "height: 150px; width: 100%" src = "../../static/thumbnail1.png" alt="Card image cap">
                                    <div class="card-body p-4 z-index-1" style="display: flex; flex-direction: column">
                                        <p> Tatler Asia </p>
                                    </div>
                                    <div class="card-body p-0 mb-3" style="flex-grow: 1">
                                        <h5 style = "margin-left: 20px"> Sustainable Fashion 2021: Reworked And Upcycled Clothes On Spotlight </h5>
                                    </div>
                                    <div class="row">
                                        <div class="col p-3" ALIGN = center>
                                            <a href="https://www.tatlerasia.com/style/fashion/reworked-clothes-are-getting-their-moment-in-fashion" class="btn btn-block" style="font-size:14px ; font-family: 'Stratford';">Read More</a>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class = "section-team" ALIGN = center style = "margin-top: 100px;" >
                <div class = "container">
                    <h2> Our Team </h2>
                    <hr>
                    <img src = "../../static/ourteam.png" width= 1000px height = 500px>
                </div>
            </div>
        </div>

        <footer class = "text-center text-lg-start pt-4" style = "background: #F3F3F3;
        background: linear-gradient(0deg, #AAC38A 0%, #F3F3F3 80%); margin-top: 50px;">
            <section class = "">
                <div class = "container text-center text-md-start mt-5">
                    <div class = "row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 ms-5 mb-4" ALIGN = left>
                            <img src="../../static/iramakain.png" height="83px" width="150px" alt="test">
                            <hr>
                            <h6>
                                The era of fashion revolution, The era of sustainable garments.
                            </h6>
                        </div>
                        <div class="col-md-4 col-lg-2 col-xl-2 ms-5 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Explore
                                </h6>
                                <p>
                                <a href="{% url 'faq:index' %}" class=" footer-text">F.A.Q</a>
                                </p>
                                <p>
                                <a href="{% url 'donation:show-donation' %}" class=" footer-text">Shop</a>
                                </p>
                                <p>
                                <a href="#" class="footer-text">Donate</a>
                                </p>
                                <p>
                                    <a href="#" class="footer-text">Contact Us</a>
                                </p>
                        </div>
                        <div class="col-md-8 col-lg-3 col-xl-3 ms-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Our Office</h6>
                            <p><i class="fas fa-home"></i> Fakultas Ilmu Komputer, Universitas Indonesia, Kota Depok, Jawa Barat 16425</p>
                            <p>
                            <i class="fas fa-envelope"></i>
                            cs.ui.ac.id
                            </p>
                            <p><i class="fas fa-phone"></i>  (021) 7863419</p>
                        </div>
                        <div class = 'row row-cols-auto justify-content-center' id = 'row2_footer'>
                            <h6 style = 'margin-left: 40px; margin-bottom: 40px;'>©️ 2022 Copyright: Irama Kain</h6>
                          </div>
                    </div>
                </div>
            </section>
        </footer>
        <!-- TOLONG INI BUAT NAVBAR HARUS DITARO DIBAWAH YA -->
        <script>
            firstTime();
            function firstTime()    {
                var url = "/jsoninfo/"
                const formData = {
                    csrfmiddlewaretoken: '{{csrf_token}}'
                };
                {
                    $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(response) {
                        console.log("kebaca")
                        var poin = response.poin
                        var is_auth = response.is_auth
                        console.log(poin)
                        console.log(is_auth)
                        if (is_auth)    {
                        document.getElementById('linkpoin').style.display = "inline";
                        $('#linkpoin').html(poin)
                        document.getElementById('linkprofile').style.display = "inline";
                        $('#linksignout').html("Sign Out")
                        var oldUrl = $('#linksignout').attr("href")
                        var newUrl = oldUrl.replace('login-user', 'logout-user')
                        $('#linksignout').attr("href", newUrl)
                        console.log("ada user ga" + is_auth)
                        console.log("poin : " + poin)
                        console.log("berhasil ada user")
                    }
                    else    {
                        document.getElementById('linkprofile').style.display = "none";
                        document.getElementById('linkpoin').style.display = "none";
                        $('#linksignout').html("Sign In")
                        var oldUrl = $('#linksignout').attr("href")
                        var newUrl = oldUrl.replace('logout-user', 'login-user')
                        $('#linksignout').attr("href", newUrl)
                        console.log("berhasil ga ada user")
                    }            
                    }
                    })
                    };
            }

            
        </script>
        <!-- SELESE NAVBAR -->
    </main>

</html>

