<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nafriel | Marketplace Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/marketplace/css/cssmarketplace.css' %}" />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Home:show_home' %}">Irama Kain</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'donation:show-donation' %} ">My Donations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'faq:index' %}" >FaQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Partnership</a>
              </li>
            </ul>
            <div class="d-flex">
                <a class="nav-link" href="#" style="margin-right: 20px">
                    <img class="me-2 p-2 nav-item" src="../static/donation/img/cart.png" style="width: 45px; height:45px; ">
                </a>
                <div class="containers col p-2" style="padding-top: 12px; margin-left: 10px; margin-right: 30px;">
                    <img src="../static/profile/img/Coins.png" style="display: inline; width: 25px; height: 25px;">
                </div>
                <a class="p-2 nav-link" href="{% url 'Authentication:logout-user' %}">Sign Out</a>
            </div>
          </div>
        </div>
      </nav>

    </div>
    <div class="containers col p-2" style="padding-top: 12px; margin-left: 10px; margin-right: 30px;">
        {{form.as_table}}
        <div class="col-md-3 col-6 pt-4">
            <button class="btn btn-outline-primary explore"><b>SAVE</b></button>
          </div>
    </div>

    <script>
    function simpan_form(){
    }
        
    </script>
    

  </body>
</html>
