
{% for faq in faqs %}
<div class = "accordion-item">
    <h2 class = "accordion-header" id = "heading {{ faq.id }}">
        <button id = 'accord' class = "accordion-button" type = "button" data-bs-toggle = "collapse" data-bs-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
            {{ faq.question }}
        </button>
    </h2>
    <div id="collapse{{ faq.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ faq.id }}" data-bs-parent="#accordionExample">
        <div class = "accordion-body">
            <strong> Answer: </strong> {{ faq.answer }}
        </div>
    </div>
</div>
{% endfor %}