*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(222.87deg, #7335C2 0.92%, #AAC38A 75.27%);
}
.donationhistory    {
    display: block;
}
.nav-link  {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.08em;
    margin-bottom: 8px;
    /* iramakain/color 1 */
    color: #3C3C3C;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar-brand   {
font-family: 'Stratford';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.08em;
margin-bottom: 10px;
margin-left: 15px;
/* iramakain/color 3 */
color: #7335C2;

}
.nav-item   {
    margin-left: 20px;
}
.nav-link:hover::after {
    width: 100%;
    top: 0;
}
.nav-link:after {
    content: "";
    position: absolute;
    display: block;
    border: 2px solid #7335C2;
    width: 100%;
    height: 0%;
    transition: all 0.5s ease;
    top: 100%;
}
.navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
    background: linear-gradient(0deg, transparent 0%, #AAC38A 70%);;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container1{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.header{
    margin-top: 50px;
    font-family: 'Stratford';
    font-weight: 400;
    font-size: 66.1755px;
    text-align: center;
    color: #FFFFFF;
    vertical-align: top;
    text-shadow: -4.06275px 2.7085px 2.7085px rgba(0, 0, 0, 0.25);
}
.messageText{
    margin-top: 50px;
    font-family: 'Stratford';
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
    vertical-align: top;
    text-shadow: -4.06275px 2.7085px 2.7085px rgba(0, 0, 0, 0.25);
}
.subheader{
    font-family: 'Helvetica';
    margin: auto;
    font-weight: 500;
    font-size: 20.3138px;
    width: 669px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.08em;

    color: #F3F3F3;
}
.container1 .contactInfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #7335C2;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 39px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.container1 .contactInfo h2{
    color: #F3F3F3;
    font-family: 'Test Söhne';
    font-size: 24px;
    font-weight: 500;
}
.container1 .contactInfo ul.info{
    position: relative;
    margin: 20px 0;
}
.container1 .contactInfo ul.info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container1 .contactInfo ul.info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
.container1 .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
}
.container1 .contactInfo ul.info li span:nth-child(2){
    color: #F3F3F3;
    font-family: Helvetica;
    margin-left: 10px;
    font-weight: 400;
}
.container1 .contactInfo ul.sci{
    position:relative;
    display: flex;
}
.container1 .contactInfo ul.sci li{
    list-style: none;
    margin-right: 15px;
}
.container1 .contactInfo ul.sci li a{
    text-decoration: none;
}
.container1 .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background:#F3F3F3;
    border-radius: 39px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.container1 .contactForm h2{
    color: #3C3C3C;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Test Söhne';
}
.container1 .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container1 .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;
}
.container1 .contactForm .formBox .inputBox.w50{
    width: 47%;
}
.container1 .contactForm .formBox .inputBox.w100{
    width: 100%;
}
.container1 .contactForm .formBox .inputBox input,
.container1 .contactForm .formBox .inputBox textarea{
    background-color: #F3F3F3;
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #3C3C3C;
    border: none;
    outline: none;
    border-bottom: 1px solid #3C3C3C;
}
.container1 .contactForm .formBox .inputBox textarea{
    height: 120px;
}
.container1 .contactForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container1 .contactForm .formBox .inputBox input:focus ~ span,
.container1 .contactForm .formBox .inputBox input:valid ~ span,
.container1 .contactForm .formBox .inputBox textarea:focus ~ span,
.container1 .contactForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #7335C2;
    font-weight: 500;
}
.container1 .contactForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #3C3C3C;
    border: none;
    max-width: 150px;
    padding: 12px;
    font-family: Helvetica;
    color: #F3F3F3;
    font-weight: 500;
    border-radius: 30px;
}
.container1 .contactForm .formBox .inputBox input[type="submit"]:hover{
    background:#7335C2;  
}
.container2{
    margin-top: 100px;
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.container2 .messageUser{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    background:#F3F3F3;
    border-radius: 39px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}
.container2 .messageUser h2{
    justify-content: center;
    color: #3C3C3C;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Test Söhne'; 
}