/* NAVBAR */
.donationhistory    {
    display: block;
}
.nav-link  {
    font-family: 'Test Söhne';
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
    /* iramakain/color 1 */
    color: #3C3C3C;
}
.navbar-brand   {
font-family: 'Stratford';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 34px;
letter-spacing: 0.08em;
margin-bottom: 10px;
/* iramakain/color 3 */
color: #7335C2;

}

.nav-link:hover {
    color: #7335C2;
}
.navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
}
/* END NAVBAR */

body {
    background-image: url('../img/iramakainbgform.png');
}   

.donationbox {
    margin: 100px 300px 200px 300px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    /* Rectangle 57 */


    background: rgba(243, 243, 243, 0.8);
    border-radius: 43px;

}
.donationbox:hover{
    box-shadow: 0 10px 10px 10px rgb(0, 0, 0, .2);
}
.texth1 {
    /* FORM DONASI */
font-family: 'Test Söhne';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 82px;
text-align: center;
letter-spacing: 0.08em;

/* iramakain/color 1 */
color: #3C3C3C;


}
.form-group {
    margin-top: 30px;
    text-align: center;
}

label {
    padding-left: 90px;
    text-align: center;
    float: left;
    /* Jenis kain */
    font-family: 'Stratford';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    color: #000000;


}
#id_jenis_barang    {
    margin-left: 95px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #7335C2;
    border: none;
    height: 35px;
    border-radius: 8px;
    color: #F3F3F3;
    font-family: 'Stratford';
}
#id_amount{
    margin-left: 10px;
    height: 35px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #7335C2;
    border: none;
    border-radius: 8px;
    color: #F3F3F3;
    font-family: 'Stratford';
}
#id_shipping_method {
    height: 35px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #7335C2;
    border: none;
    border-radius: 8px;
    color: #F3F3F3;
    font-family: 'Stratford';
}


.buttoncontainer    {
    padding: 50px 300px 0px 300px;
}
.buttonsubmit   {
    height: 40px;
    background: #7335C2;
    border-radius: 16px;
    border-style: none;
    text-align: center;
    color: #F3F3F3;
}
.buttonsubmit:hover {
    box-shadow: 0 6px 0 -4px #fff, 0 9px 0 -4px rgb(165, 130, 230), 0 12px 0 -4px rgb(133, 84, 185);
    transform: translateY(-5px);
}
/* Untuk Smartphone */
@media all and (max-width: 1200px) {
    .donationbox    {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    
}
@media all and (max-width: 800px) {
    .donationbox    {
        margin-left: 30px;
        margin-right: 30px;
    }
    .buttoncontainer   {
        padding: 50px 250px 0px 250px;
    }
}
@media all and (max-width: 710px) {
    .donationbox    {
        margin-left: 30px;
        margin-right: 30px;
    }
    .buttoncontainer   {
        padding: 50px 100px 0px 100px;
    }
    #id_jenis_barang    {
        margin-left: 0px;
    }
    #id_amount  {
        margin-left: 0px;
    }
}