{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Donation | Irama Kain</title>
{% endblock meta %}

{% block content %}
<html>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            .card-horizontal {
            display: flex;
            flex: auto;
            }
            .photo  {
                width: 200px;
                height: 200px;
            }
        </style>
    </head>
    <body>
        <script>
            async function refresh()    {
                $.get('/donation/json/', function (data) {
                    data.map((donasi) =>
                    $('#table-ongoing').append(
                        `<tr" class="mylayout" >
                            <div class="card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="photo" src="{% static "/donation/img/photo-holder.png" %}" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Donasi ${donasi.fields.jenis_barang} </h4>
                                        <p class="card-text">Banyak (dalam kg): ${donasi.fields.amount}</p>
                                        <p class="card-text">Kontak: {{kontak}}</p>
                                        <p class="card-text">Alamat: {{alamat}}</p>
                                        <p class="card-text">Shipping method: ${donasi.fields.shipping_method}</p>
                                        <button type="submit" name="submit" class="button-selesai" data-id="${donasi.pk}" onclick = "selesai_donasi(${donasi.pk})">Selesai</button>   
                                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal${donasi.pk}">Edit</button>          
                                        
                                        <div class="modal fade" id="myModal${donasi.pk}" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Edit Data Donasi </h4>
                                            </div>
                                            <div class="modal-body">
                                                <form id="modalform" method="post">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="donation-jenis" class="col-form-label">Jenis Barang</label>
                                                    <input type="text" class="form-control" id="donation-jenis${donasi.pk}" value= "${donasi.fields.jenis_barang}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="donation-amount" class="col-form-label">Banyak (dalam kg)</label>
                                                    <input type="number" class="form-control" id="donation-amount${donasi.pk}"" method="post" value= "${donasi.fields.amount}">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="donation-ship" class="col-form-label">Shipping method</label>
                                                    <select class="form-control"  id="donation-ship${donasi.pk}" method="post">
                                                        <option value="Antar sendiri">Antar sendiri</option>
                                                        <option value="JNE">JNE</option>
                                                        <option value="POS INDONESIA">POS INDONESIA</option>
                                                        <option value="TIKI">TIKI</option>
                                                        <option value="SiCepat">SiCepat</option>
                                                        <option value="J&T">J&T</option>
                                                    </select>
                                                </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" value="Save" name="submit" class ="button-edit" onclick = "edit_donasi(${donasi.pk})"><a >Save</a></button>   
                                            </div>
                                            </div>
                                        </div>
                                        </div>                           
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated on ${donasi.fields.waktu_isi}</small>
                                </div>
                            </div>
                    </tr>`
                    )
                    );
                });
                console.log("did that")
                
                $.get('/donation/history/', function (data) {
                    data.map((donasi2) =>
                    $('#table-history').append(
                        `<tr" class="mylayout" >   
                            <div class="card">
                                <div class="card-horizontal">
                                    <div class="img-square-wrapper">
                                        <img class="photo" src="{% static "/donation/img/photo-holder.png" %}" alt="Card image cap">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Donasi ${donasi2.fields.jenis_barang} </h4>
                                        <p class="card-text">Banyak (dalam kg): ${donasi2.fields.amount}</p>
                                        <p class="card-text">Kontak: {{kontak}}</p>
                                        <p class="card-text">Alamat: {{alamat}}</p>
                                        <p class="card-text">Shipping method: ${donasi2.fields.shipping_method}</p>                                    
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated on ${donasi2.fields.waktu_isi}</small>
                                </div>
                            </div>
                    </tr>`
                    ))
                    
                });
            }
            function edit_donasi(pk2){
                console.log("ini pk2 " + (pk2))
                event.preventDefault();
                $("#myModal").modal('show');
                console.log("awal works")
                var linkjenis_barang = "#donation-jenis"+pk2
                var link_amount = "#donation-amount"+pk2
                var link_ship = "#donation-ship"+pk2
                
                var url = "/donation/edit/" + pk2
                const formData = {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    jenis_barang: $(linkjenis_barang).val(),
                    amount: $(link_amount).val(),
                    shipping_method: $(link_ship).val(),
                };
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(response) {
                        console.log("works")
                        $('#table-ongoing').empty()
                        refresh()
                    }
                    }).done(function (data) {
                    alert("Data berhasil diubah!")
                    $("#myModal").modal('hide');
                    window.location = window.location;
                    });
                    
                }

            function selesai_donasi(pk2){
                event.preventDefault();
                console.log("awal works")
                console.log("ini pk2: " + pk2)

                var url = "/donation/done/" + pk2
                const formData = {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                };
                if(confirm("Yakin ingin menyelesaikan donasi?")){
                    $.ajax({
                    type: 'POST',
                    url: url,
                    data: formData,
                    success: function(response) {
                        console.log("works")
                        console.log(response.poin)
                        $('#table-ongoing').empty()
                        $('#table-history').empty()
                        document.getElementById("mycoins").innerHTML = "My points: " + response.poin ;
                        refresh()
                    }
                    }).done(function (data) {
                    alert("selesai donasi!")
                    });
                    };
                }
            refresh()
        </script>
        <div class = "photo-group">

        </div>
        <div class = "ongoing-donation">
            <div class = "nav">
                <h3 id = "mycoins">
                    My points: {{poin}}
                </h3>
            </div>
            <h2>
                My ongoing donation
            </h2>
            <table class="ongoingTable">
                <tr id="table-ongoing" class= "mylayout">

                </tr>   
                
            </table>

        </div>
        <div class = 'donation-history'></div>
            <h2>
                My donation history
            </h2>
            <table class="alltimeTable">
                <tr id="table-history" class= "mylayout">
                </tr>   
            </table>
            
        </div>
       
    </body>
</html>
{% endblock content %}