{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Donation | Irama Kain</title>
{% endblock meta %}

{% block content %}
<html>
    <head>
        <style>
            .card-horizontal {
            display: flex;
            flex: 1 1 auto;
            }
            .photo  {
                width: 100px;
                height: 100px;
            }
        </style>
    </head>
    <body>
        <div class = "photo-group">

        </div>
        <div class = 'ongoing-donation'></div>
            <h2>
                Your ongoing donation
            </h2>
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="photo" src="{% static "/donation/img/photo-holder.png" %}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            
        </div>
       
    </body>
</html>
{% endblock content %}